# 编译生成的文件
bin/
obj/

# NuGet包文件夹
packages/

# 用户特定的文件
*.suo
*.user
*.userprefs
*.vs/

# 测试相关文件夹
TestResults/

# 工程文件特定
*.csproj.user
*.sln.docstates

# Visual Studio调试日志文件
*.pdb
*.log

# Resharper特定文件
_ReSharper.*/

# Build script的日志文件
msbuild.log*
msbuild.err

# .NET Core
project.lock.json
project.fragment.lock.json